/* Font faces */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@500&display=swap");
/* Colors */
/* Media break points */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
  font-size: 62.5%;
}

@media only screen and (max-width: 62.5em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 38em) {
  html {
    font-size: 38.5%;
  }
}

@media only screen and (max-width: 28.125em) {
  html {
    font-size: 30.5%;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #000000;
}

.container {
  position: relative;
  padding: 2rem;
  width: 100%;
  min-height: 100vh;
}

@media only screen and (max-width: 75em) {
  .container {
    padding-left: 7rem;
    padding-right: 7rem;
  }
}

@media only screen and (max-width: 50em) {
  .container {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}

@media only screen and (max-width: 38em) {
  .container {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.5);
  /* Black w/ opacity */
}

.overlayBody {
  background: rgba(0, 0, 0, 0.3);
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
}

.footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #a9a9a9;
  padding-bottom: 0.2rem;
  transition: border 0.3s ease-in-out;
}

.footer a:hover {
  border-bottom: 1px solid #a9a9a9;
}

.margin-sm {
  margin: 2rem;
}

.margin-md {
  margin: 4rem;
}

.margin-lg {
  margin: 6rem;
}

.border-bottom {
  border-bottom: 1px solid #f2f2f2;
}

.no-search-found {
  padding: 1rem;
  color: #4f4f4f;
  text-align: center;
}

.btn__search {
  cursor: pointer;
  border: 0;
  outline: none;
  border-radius: 12px;
  transition: all 1s ease;
}

.btn__search:hover {
  transform: perspective(200px) translateZ(20px);
  box-shadow: set-box-shadow(0.1);
}

.form__location input {
  border: 0;
  outline: none;
}

.apply-border-on-focus {
  border: 1px solid #000000 !important;
  border-radius: 1.6rem;
}

.header {
  font-family: "Mulish", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 38em) {
  .header {
    flex-direction: column;
    justify-content: center;
  }
}

.header__logo {
  font-family: "Pacifico", cursive;
  cursor: pointer;
  align-self: center;
}

.header__logo h1 {
  color: rgba(235, 87, 87, 0.72);
  font-size: 3rem;
}

.header__logo img {
  width: 17rem;
  height: auto;
}

@media only screen and (max-width: 50em) {
  .header__logo img {
    width: 20rem;
  }
}

@media only screen and (max-width: 38em) {
  .header__logo img {
    width: 25rem;
  }
}

.header__search {
  cursor: pointer;
  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__search:hover {
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}

.search__city {
  padding: 2rem;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  color: #000000;
  border-right: 1px solid #f2f2f2;
}

@media only screen and (max-width: 50em) {
  .search__city {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 38em) {
  .search__city {
    font-size: 2.5rem;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.search__guests {
  padding: 2rem;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  color: #bdbdbd;
  border-right: 1px solid #f2f2f2;
}

@media only screen and (max-width: 50em) {
  .search__guests {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 38em) {
  .search__guests {
    font-size: 2.5rem;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.search__icon {
  margin: 2rem;
  width: 1.7rem;
  height: 1.7rem;
  fill: rgba(235, 87, 87, 0.9);
}

@media only screen and (max-width: 38em) {
  .search__icon {
    width: 3rem;
    height: 3rem;
  }
}

.overlay {
  font-family: "Mulish", sans-serif;
  background-color: #fff;
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
}

@media only screen and (max-width: 38em) {
  .overlay {
    height: 95%;
  }
}

.overlay__close {
  align-self: flex-end;
  margin: 2rem;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 38em) {
  .overlay__close {
    margin: 3rem;
  }
}

@media only screen and (max-width: 28.125em) {
  .overlay__close {
    margin: 4rem;
  }
}

.overlay__close--icon {
  cursor: pointer;
  width: 1.8rem;
  height: 1.8rem;
  font-weight: normal;
  fill: #333333;
  transition: transform 0.5s ease-in-out;
}

@media only screen and (max-width: 38em) {
  .overlay__close--icon {
    width: 2.5rem;
    height: 2.5rem;
  }
}

@media only screen and (max-width: 28.125em) {
  .overlay__close--icon {
    width: 3.5rem;
    height: 3.5rem;
  }
}

.overlay__close--icon:hover {
  transform: rotate(90deg);
}

.overlay__search {
  width: 50%;
  margin: 1.5rem;
  margin-bottom: 0;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 38em) {
  .overlay__search {
    flex-direction: column;
    justify-items: flex-start;
    margin: 3rem;
  }
}

@media only screen and (max-width: 28.125em) {
  .overlay__search {
    margin: 4rem;
  }
}

.osearch__location {
  cursor: pointer;
  padding: 1rem 1.5rem;
  flex-basis: 85%;
  border-right: 1px solid #f2f2f2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.osearch__location:hover {
  border: 1px solid gray;
  border-radius: 1.6rem;
}

.osearch__location:focus-within {
  border: 1px solid #000000;
  border-radius: 1.6rem;
}

.osearch__guests {
  cursor: pointer;
  padding: 1rem 1.5rem;
  flex-basis: 40%;
  border-right: 1px solid #f2f2f2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.osearch__guests:hover {
  border: 1px solid gray;
  border-radius: 1.6rem;
}

.osearch__guests:focus-within {
  border: 1px solid #000000;
  border-radius: 1.6rem;
}

.osearch__search {
  padding: 1rem 1.5rem;
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

@media only screen and (max-width: 38em) {
  .osearch__search {
    display: none;
  }
}

.btn__search {
  color: #f2f2f2;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  background: rgba(235, 87, 87, 0.9);
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.2);
  padding: 1.5rem 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 38em) {
  .btn__search {
    font-size: 2.3rem;
  }
}

@media only screen and (max-width: 28.125em) {
  .btn__search {
    font-size: 3.3rem;
  }
}

.btn__search--icon {
  margin-right: 1rem;
  width: 1.7rem;
  height: 1.7rem;
  fill: #fff;
}

@media only screen and (max-width: 38em) {
  .btn__search--icon {
    margin-right: 1.5rem;
    width: 2.5rem;
    height: 2.5rem;
  }
}

@media only screen and (max-width: 28.125em) {
  .btn__search--icon {
    margin-right: 2.5rem;
    width: 3.5rem;
    height: 3.5rem;
  }
}

#btn__search--mobile {
  display: none;
}

@media only screen and (max-width: 38em) {
  #btn__search--mobile {
    margin-bottom: 3rem;
    display: flex;
    align-self: center;
  }
}

@media only screen and (max-width: 28.125em) {
  #btn__search--mobile {
    margin-bottom: 4rem;
  }
}

.form__location {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 38em) {
  .form__location {
    margin: 1rem 2.5rem;
  }
}

@media only screen and (max-width: 28.125em) {
  .form__location {
    margin: 2rem 3.5rem;
  }
}

.form__location label {
  margin-bottom: 5px;
  color: #333333;
  font-style: normal;
  font-weight: 800;
  font-size: 1rem;
  text-transform: uppercase;
}

@media only screen and (max-width: 38em) {
  .form__location label {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 28.125em) {
  .form__location label {
    font-size: 2.4rem;
  }
}

.form__location input {
  font-size: 1.4rem;
  color: #333333;
}

@media only screen and (max-width: 38em) {
  .form__location input {
    font-size: 2.2rem;
  }
}

@media only screen and (max-width: 28.125em) {
  .form__location input {
    font-size: 2.8rem;
  }
}

.form__guests {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 38em) {
  .form__guests {
    margin: 1rem 2.5rem;
  }
}

@media only screen and (max-width: 28.125em) {
  .form__guests {
    margin: 2rem 3.5rem;
  }
}

.form__guests span:first-child {
  margin-bottom: 5px;
  color: #333333;
  font-style: normal;
  font-weight: 800;
  font-size: 1rem;
  line-height: 11px;
  text-transform: uppercase;
}

@media only screen and (max-width: 38em) {
  .form__guests span:first-child {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 28.125em) {
  .form__guests span:first-child {
    font-size: 2.4rem;
  }
}

.form__guests span:last-child {
  color: #bdbdbd;
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
}

@media only screen and (max-width: 38em) {
  .form__guests span:last-child {
    font-size: 2.2rem;
  }
}

@media only screen and (max-width: 28.125em) {
  .form__guests span:last-child {
    font-size: 2.8rem;
  }
}

.overlay__results {
  margin: 1.5rem;
  display: flex;
  flex: 40% 40% 1;
  align-items: center;
}

@media only screen and (max-width: 38em) {
  .overlay__results {
    flex: 1;
  }
}

.overlay__results .location__results {
  background-color: #fff;
  border: 1px solid #cfcfcf;
  flex-basis: 40%;
  border-radius: 10px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 38em) {
  .overlay__results .location__results {
    z-index: 100;
    flex: 1;
    margin: 1rem 1.5rem;
    position: relative;
    top: -26%;
    padding: 2rem;
  }
}

@media only screen and (max-width: 28.125em) {
  .overlay__results .location__results {
    margin: 2rem 2.5rem;
    padding: 3rem;
  }
}

@media only screen and (max-width: 38em) {
  .overlay__results .location__results .no-search-found {
    font-size: 2.8rem;
  }
}

@media only screen and (max-width: 28.125em) {
  .overlay__results .location__results .no-search-found {
    font-size: 3.8rem;
  }
}

.overlay__results .guest__results {
  margin-left: 40%;
  border: 1px solid #cfcfcf;
  flex-basis: 40%;
  border-radius: 10px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
  align-self: flex-start;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 38em) {
  .overlay__results .guest__results {
    margin: 1rem 1.5rem;
    margin-top: -3.5rem;
    padding: 2rem;
    flex: 1;
    width: 100%;
  }
}

@media only screen and (max-width: 28.125em) {
  .overlay__results .guest__results {
    margin: 2rem 2.5rem;
    margin-top: -4.5rem;
    padding: 3.5rem;
  }
}

.location__result {
  border-radius: 10px;
  cursor: pointer;
  flex: 1;
  display: flex;
  align-items: center;
}

.location__result:first-child {
  margin: 2rem 2rem 0 2rem;
}

.location__result:nth-child(2), .location__result:nth-child(3), .location__result:nth-child(4) {
  margin-left: 2rem;
  margin-right: 2rem;
}

.location__result:hover {
  background-color: #edf2f7;
}

.location__result h2 {
  margin: 1rem;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  color: #4f4f4f;
}

@media only screen and (max-width: 38em) {
  .location__result h2 {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 28.125em) {
  .location__result h2 {
    font-size: 4rem;
  }
}

.location__result:last-child {
  margin-bottom: 2rem;
}

.location__pin {
  margin: 1rem;
  margin-right: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  background-color: #edf2f7;
  border: 2px solid #cfcfcf;
  border-radius: 14px;
}

@media only screen and (max-width: 38em) {
  .location__pin {
    padding: 2rem;
    margin-right: 3rem;
    border: 2px solid #9c9c9c;
  }
}

@media only screen and (max-width: 28.125em) {
  .location__pin {
    padding: 3rem;
    margin-right: 4rem;
  }
}

.location__pin--icon {
  width: 2.5rem;
  height: 2.5rem;
  fill: #4f4f4f;
}

@media only screen and (max-width: 38em) {
  .location__pin--icon {
    width: 5rem;
    height: 5rem;
  }
}

@media only screen and (max-width: 28.125em) {
  .location__pin--icon {
    width: 6rem;
    height: 6rem;
  }
}

.guest__result {
  margin-left: 2rem;
  margin-right: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.guest__result:first-child {
  margin-top: 2rem;
  padding-bottom: 1rem;
}

.guest__result:nth-child(2) {
  padding-bottom: 1rem;
}

.guest__result:nth-child(2), .guest__result:nth-child(3) {
  margin-top: 1rem;
}

.guest__result:nth-child(3) {
  margin-bottom: 2rem;
}

.guest__result .guest__details {
  line-height: 2.5rem;
}

@media only screen and (max-width: 38em) {
  .guest__result .guest__details {
    line-height: 5rem;
  }
}

@media only screen and (max-width: 28.125em) {
  .guest__result .guest__details {
    line-height: 6rem;
  }
}

.guest__result .guest__details h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  color: #000000;
}

@media only screen and (max-width: 38em) {
  .guest__result .guest__details h2 {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 28.125em) {
  .guest__result .guest__details h2 {
    font-size: 4rem;
  }
}

.guest__result .guest__details span {
  font-style: normal;
  font-weight: normal;
  font-size: 1.3rem;
  color: #a0aec0;
}

@media only screen and (max-width: 38em) {
  .guest__result .guest__details span {
    font-size: 2.7rem;
  }
}

@media only screen and (max-width: 28.125em) {
  .guest__result .guest__details span {
    font-size: 3.3rem;
  }
}

.guest__result .guest__count {
  display: flex;
  align-items: center;
}

.guest__result .guest__count .count {
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  color: #000000;
}

@media only screen and (max-width: 38em) {
  .guest__result .guest__count .count {
    font-size: 2.8rem;
  }
}

@media only screen and (max-width: 28.125em) {
  .guest__result .guest__count .count {
    font-size: 3.3rem;
  }
}

.guest__result .guest__count .guest__icon {
  width: 2rem;
  height: 2rem;
  fill: #000000;
}

@media only screen and (max-width: 38em) {
  .guest__result .guest__count .guest__icon {
    width: 3rem;
    height: 3rem;
  }
}

@media only screen and (max-width: 28.125em) {
  .guest__result .guest__count .guest__icon {
    width: 4rem;
    height: 4rem;
  }
}

.guest__result .guest__count .btn__plus,
.guest__result .guest__count .btn__minus {
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #f2f2f2;
  border-radius: 100px;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.guest__result .guest__count .btn__plus:hover,
.guest__result .guest__count .btn__minus:hover {
  border: 1px solid #000000;
}

.guest__result .guest__count .btn__plus {
  margin-right: 1rem;
}

@media only screen and (max-width: 38em) {
  .guest__result .guest__count .btn__plus {
    margin-right: 2rem;
  }
}

@media only screen and (max-width: 28.125em) {
  .guest__result .guest__count .btn__plus {
    margin-right: 3rem;
  }
}

.guest__result .guest__count .btn__minus {
  margin-left: 1rem;
}

@media only screen and (max-width: 38em) {
  .guest__result .guest__count .btn__minus {
    margin-left: 2rem;
  }
}

@media only screen and (max-width: 28.125em) {
  .guest__result .guest__count .btn__minus {
    margin-left: 3rem;
  }
}

.not__found {
  margin-bottom: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 50em) {
  .not__found {
    margin-top: -3rem;
  }
}

.not__found img {
  width: 50%;
  height: 65vh;
}

@media only screen and (max-width: 75em) {
  .not__found img {
    width: 70%;
  }
}

@media only screen and (max-width: 50em) {
  .not__found img {
    margin-left: 2.5rem;
    width: 90%;
  }
}

@media only screen and (max-width: 38em) {
  .not__found img {
    margin-left: 6rem;
    width: 100%;
  }
}

@media only screen and (max-width: 28.125em) {
  .not__found img {
    margin-left: 8rem;
  }
}

.not__found h2 {
  font-size: 2rem;
  color: #4f4f4f;
}

@media only screen and (max-width: 38em) {
  .not__found h2 {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 28.125em) {
  .not__found h2 {
    font-size: 4rem;
  }
}

.loader {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader svg {
  margin-right: 1rem;
  fill: rgba(235, 87, 87, 0.72);
  height: 7rem;
  width: 7rem;
  animation: loaderAnimation 1.5s linear infinite;
}

@media only screen and (max-width: 38em) {
  .loader svg {
    height: 8rem;
    width: 8rem;
  }
}

@media only screen and (max-width: 28.125em) {
  .loader svg {
    height: 10rem;
    width: 10rem;
  }
}

.loader h1 {
  color: rgba(235, 87, 87, 0.72);
  font-family: inherit;
  font-weight: bold;
  font-size: 2.5rem;
}

@media only screen and (max-width: 38em) {
  .loader h1 {
    font-size: 3.4rem;
  }
}

@media only screen and (max-width: 28.125em) {
  .loader h1 {
    font-size: 4rem;
  }
}

.loader h1:after {
  content: ".";
  animation: dotsAnimation 1.5s steps(5, end) infinite;
}

@keyframes dotsAnimation {
  0%,
  20% {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  40% {
    color: rgba(235, 87, 87, 0.72);
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  60% {
    text-shadow: 0.25em 0 0 rgba(235, 87, 87, 0.72), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  80%,
  100% {
    text-shadow: 0.25em 0 0 rgba(235, 87, 87, 0.72), 0.5em 0 0 rgba(235, 87, 87, 0.72);
  }
}

@keyframes loaderAnimation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.stays__container {
  z-index: 1;
  margin-top: 2rem;
}

@media only screen and (max-width: 50em) {
  .stays__container {
    margin-top: 5rem;
  }
}

.stays__info {
  margin-bottom: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stays__info h1, .stays__info h2, .stays__info h3 {
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
}

.stays__info h1 {
  font-size: 3.2rem;
  color: #000000;
}

@media only screen and (max-width: 50em) {
  .stays__info h1 {
    font-size: 4.5rem;
  }
}

.stays__info h2 {
  flex-basis: 100%;
  font-size: 2.5rem;
  color: #000000;
}

@media only screen and (max-width: 50em) {
  .stays__info h2 {
    font-size: 3.8rem;
  }
}

.stays__info h3 {
  font-size: 1.6rem;
  color: #4f4f4f;
}

@media only screen and (max-width: 50em) {
  .stays__info h3 {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 38em) {
  .stays__info h3 {
    font-size: 2.5rem;
  }
}

.stays {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
}

@media only screen and (max-width: 75em) {
  .stays {
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
  }
}

@media only screen and (max-width: 50em) {
  .stays {
    grid-template-columns: 1fr;
    margin-bottom: 10rem !important;
  }
}

.stay {
  padding: 0 1rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border: 1px solid #f2f2f2;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}

.stay:hover {
  box-shadow: 0 2px 2px #e6e6e6;
}

.stay__img {
  height: 23vw;
}

@media only screen and (max-width: 75em) {
  .stay__img {
    height: 31vw;
  }
}

@media only screen and (max-width: 50em) {
  .stay__img {
    height: 43vw;
  }
}

@media only screen and (max-width: 38em) {
  .stay__img {
    height: 58vw;
  }
}

@media only screen and (max-width: 28.125em) {
  .stay__img {
    height: 68vw;
  }
}

.stay__img img {
  border-radius: 20px;
  height: 100%;
  object-fit: cover;
}

.stay__details {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stay__details .stay__category {
  display: flex;
  align-items: center;
}

.stay__details .stay__category .super-host {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  margin-right: 1rem;
  text-transform: uppercase;
  border: 1px solid #000000;
  border-radius: 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 1.4rem;
  color: #4f4f4f;
  text-align: center;
}

@media only screen and (max-width: 38em) {
  .stay__details .stay__category .super-host {
    font-size: 2.4rem;
  }
}

.stay__details .stay__category .type {
  margin-right: 0.75rem;
  font-weight: 500;
  font-size: 1.6rem;
  color: #828282;
}

@media only screen and (max-width: 38em) {
  .stay__details .stay__category .type {
    font-size: 2.6rem;
  }
}

.stay__details .stay__category .separator {
  margin-right: 0.75rem;
  font-weight: 500;
  font-size: 1.6rem;
  color: #828282;
}

@media only screen and (max-width: 38em) {
  .stay__details .stay__category .separator {
    font-size: 2.6rem;
  }
}

.stay__details .stay__category .beds {
  font-weight: 500;
  font-size: 1.6rem;
  color: #828282;
}

@media only screen and (max-width: 38em) {
  .stay__details .stay__category .beds {
    font-size: 2.6rem;
  }
}

.stay__details .stay__rating {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stay__details .stay__rating .star {
  margin-right: 0.5rem;
  width: 2rem;
  height: 2rem;
  fill: rgba(235, 87, 87, 0.72);
}

@media only screen and (max-width: 38em) {
  .stay__details .stay__rating .star {
    width: 4rem;
    height: 4rem;
  }
}

.stay__details .stay__rating .rating {
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  color: #000000;
}

@media only screen and (max-width: 38em) {
  .stay__details .stay__rating .rating {
    font-size: 2.6rem;
  }
}

.stay__title {
  margin-bottom: 1rem;
  font-family: "Sansita Swashed", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  color: #000000;
}

@media only screen and (max-width: 38em) {
  .stay__title {
    font-size: 3rem;
  }
}

select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}

select::-ms-expand {
  display: none;
}

select {
  outline: none;
}
/*# sourceMappingURL=main.css.map */